<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Double Zee Electronics Shop{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  <script src="{% static 'dashboard/js/main.js' %}"></script>
  {% block extra_scripts %}{% endblock %}
</body>
</html>
